/*****
TABLE OF CONTENT

*********/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,500;1,600;1,700&family=Lato:ital,wght@0,100;1,100&family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



/* 
font-family: 'Inter', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/

@font-face {
  font-family: gilroy-bold;
  src: url(fonts/Gilroy-FREE/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: gilroy-light;
  src: url(fonts/Gilroy-FREE/Gilroy-Light.otf);
}


:root {
  --as-white: #fff;
  --as-white-2: #cacaca;
  --as-white-3: #dddddd;
  --as-white-4: #fbfbfb;
  --as-black: #022527;
  --as-black-1: #022527;
  --as-black-2: #555555;
  --as-black-3: #151515;
  --as-black-4: #333333;
  --as-heading-color: #111111;
  --as-primary-color: #030166;
  --as-primary-color-2: #a1a0c6;
  --as-primary-color-3: #ddf4ff;
  --as-primary-color-4: #0098DB;
  --as-primary-color-5: #D4F1FF;
  --as-primary-color-6: #4DBEC2;
  --as-primary-color-7: #F2FBFF;
  --as-primary-color-8: #F2FAFF;
  --border-color-9: #EEEEEE;
  --ltn__paragraph-color: #aaaaaa;
  --as-secondary-color: #0A9A73;
  --as-heading-font: 'Inter', sans-serif;

}

*,
::after,
::before {
  box-sizing: border-box
}

@media (prefers-reduced-motion:no-preference) {
  :root {
    scroll-behavior: smooth
  }
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden !important;
  font-size: 1.6rem;
  font-family: var(--as-heading-font);
}

h1,
.h1 {
  font-size: 5.6rem;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 4.8rem;
}

h3,
.h3 {
  font-size: 3.6rem;
}

h4,
.h4 {
  font-size: 3rem;
}

h5,
.h5 {
  font-size: 1.8rem;
}

h6,
.h6 {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--as-heading-color);
  clear: both;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.5rem;

}

p {
  color: var(--as-black-1);
  margin-bottom: 1.5rem;
  font-weight: 400;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
  color: var(--as-black-1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:hover {
  color: var(--as-secondary-color);
}

/* ----------------------------------------------------
    input and button type focus outline disable
---------------------------------------------------- */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="tel"]:focus,
textarea:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
input[type="file"]:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

code {
  color: #faa603;
}

/* ----------------------------------------------------
    Form input box
---------------------------------------------------- */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="submit"],
input[type="time"],
input[type="date"],
select[option="submit"] {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--border-color-9);
  height: 4rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: inherit;
  color: var(--ltn__paragraph-color);
  width: 100%;
  border-radius: 5px;
  padding: 2.5rem 5px 2.5rem 2rem;

}

textarea {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--border-color-9);
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: inherit;
  color: var(--ltn__paragraph-color);
  width: 100%;
  border-radius: 5px;
  padding: 2rem 5px 2rem 2rem;
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="submit"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--ltn__paragraph-color);
  font-size: 1.4rem;
  font-weight: 400;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
textarea:focus {
  border-color: var(--as-secondary-color);
  box-shadow: none !important;
}

input[type="password"] {
  letter-spacing: 3px;
  font-size: 1.6rem;
}

label {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--as-black-4);
}

/*-----------------------------
    custom styles
------------------------------*/
/*image*/
.custom-img-transition {
  overflow: hidden;
}

.custom-img-transition img {
  -webkit-transition: all 3.5s ease-out 0s;
  -o-transition: all 3.5s ease-out 0s;
  -moz-transition: all 3.5s ease-out 0s;
  transition: all 3.5s ease-out 0s;
}

.custom-img-transition img:hover {
  -webkit-transform: scaleX(.9);
  -ms-transform: scaleX(.9);
  transform: scaleX(.9);
}

/*width */
.as-w-80 {
  width: 80%;
}

/*font size */
.f-12 {
  font-size: 1.2rem !important;
}

.f-14 {
  font-size: 1.4rem !important;
}

.f-16 {
  font-size: 1.6rem !important;
}

.f-18 {
  font-size: 1.8rem !important;
}

.f-20 {
  font-size: 2rem !important;
}

.f-30 {
  font-size: 3rem !important;
}

@media screen and (min-width: 560px) and (max-width: 768) {
  .f-12 {
    font-size: 1.1rem !important;
  }

  .f-16 {
    font-size: 1.5rem !important;
  }

  .f-18 {
    font-size: 1.7rem !important;
  }

  .f-20 {
    font-size: 1.8rem !important;
  }

  .f-30 {
    font-size: 2.8rem !important;
  }
}

@media screen and (max-width: 559px) {
  .f-12 {
    font-size: 1rem !important;
  }

  .f-16 {
    font-size: 1.4rem !important;
  }

  .f-18 {
    font-size: 1.6rem !important;
  }

  .f-20 {
    font-size: 1.7rem !important;
  }

  .f-30 {
    font-size: 2.6rem !important;
  }
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.pwlr-5 {
  padding-left: 5% !important;
  padding-right: 5% !important;
}

@media screen and (max-width:578px) {
  .pwlr-sm-5 {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  
}

.pwlr-13 {
  padding-left: 13% !important;
  padding-right: 13% !important;
}

.pwlr-15 {
  padding-left: 15% !important;
  padding-right: 15% !important;
}

.pwlr-20 {
  padding-left: 20% !important;
  padding-right: 20% !important;
}

.pwlr-lg-25 {
  padding-left: 25% !important;
  padding-right: 25% !important;
}

.pwlr-lg-28 {
  padding-left: 28% !important;
  padding-right: 28% !important;
}

.pwlr-lg-30 {
  padding-left: 30% !important;
  padding-right: 30% !important;
}

@media screen and (max-width:600px) {
  .pwlr-sm-10 {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

.plr-4 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.plr-5 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.plr-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

@media screen and (max-width:578px) {

  .pwlr-13 {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .plr-sm-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

}



@media (min-width:992px) and (max-width:1199px) {

  .pwlr-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  

  .pwlr-13 {
    padding-left: 11% !important;
    padding-right: 11% !important;
  }

}
@media (max-width:600px) {

  .plr-8 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }

}

.p-10tb {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.p-13tb {
  padding-top: 13rem;
  padding-bottom: 13rem;
}

@media (min-width:768px) and (max-width:991px) {

  .p-10tb {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .p-13tb {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

}

@media (min-width:560px) and (max-width:767px) {

  .p-10tb {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .p-13tb {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

}

@media (max-width:559px) {

  .p-10tb {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .p-13tb {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }


}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem ;
}
@media (min-width:560px) and (max-width:767px) {
  .mt-8 {
    margin-top: 6rem;
  }
 
 

}

@media screen and (max-width:559px) {

  .mt-8 {
    margin-top: 3rem;
  }


}

.lh-20 {
  line-height: 2rem !important;
}

.lh-20 {
  line-height: 2rem !important;
}

.lh-28 {
  line-height: 2.8rem !important;
}

.lh-30 {
  line-height: 3rem !important;
}

/*text customs*/
.text-justify {
  text-align: justify;
}
@media screen and (max-width:578px) {
  .mobile-hidden{
    display:none;
  }
  
}

.btn-outline-as-primary,
.btn-outline-as-primary:link,
.btn-outline-as-primary:visited {
  padding: 1.5rem 2.5rem;
  border-radius: 50px;
  border: 1px var(--as-primary-color) solid;
  color: var(--as-primary-color);
  font-size: inherit;
  font-weight: bold;
  backface-visibility: hidden;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
}

.btn-outline-as-primary:hover {
  color: var(--as-secondary-color);
  border: 1px var(--as-secondary-color) solid;
}

.btn-as-primary,
.btn-as-primary:link,
.btn-as-primary:visited {
  padding: 1.5rem 3.5rem;
  border-radius: 50px;
  background-color: var(--as-primary-color);
  color: var(--as-white);
  font-weight: bold;
  font-size: inherit;
  backface-visibility: hidden;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
  text-transform: capitalize;
}


.btn-as-primary:hover {
  background-color: var(--as-secondary-color);
  color: var(--as-white);
}

.btn-package-as-primary,
.btn-package-as-primary:link,
.btn-package-as-primary:visited {
  padding: 1rem 2rem;
  border-radius: 50px;
  background-color: var(--as-primary-color-4);
  color: var(--as-white);
  font-size: inherit;
  backface-visibility: hidden;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
  font-weight: bold;
}

.btn-package-as-primary:hover {
  background-color: var(--as-secondary-color);
  color: var(--as-white);
}

.custom-as-light-btn,
.custom-as-light-btn:link,
.custom-as-light-btn:visited {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  background-color: var(--as-white);
  color: #055559;
  font-size: inherit;
  font-weight: bold;
  backface-visibility: hidden;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
}

.custom-as-light-btn:hover {
  color: var(--as-heading-color);
}

/*custom title*/
.custom-pg-title {
  text-align: center;
  margin-bottom: 5rem;
}

.custom-pg-title h2 {
  letter-spacing: 0;
  color: var(--as-heading-color);
  font-weight: 700;
}

.custom-pg-title p {
  letter-spacing: 0;
  color: var(--as-black-4);
  font-weight: 400;
  font-size: 2rem;
}

.custom-span-title {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--as-white);
}

/*background colors*/
.bg-membership {
  background-color: var(--as-white-4);
}

.bg-card-package {
  background-color: #f0fbff;
}


.bg-as-primary {
  background-color: var(--as-primary-color);
}

.bg-as-primary-1 {
  background-color: var(--as-primary-color-4);
}

/*-------------------------------------------
            header styling
-------------------------------------------*/

header .header-nav.sticky {
  position: fixed;
  overflow-x: hidden !important;
  top: 0;
  z-index: 1020;
  width: 100%;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  animation: fadeInDown .5s steps(10, end) 0s 1 normal forwards;
  transition: all .4s;
}

@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);

  }

  50% {
    background: #0C9B74;
    opacity: 0.5;

  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    background-color: #0C9B74 !important;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);

  }

  50% {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  background: #fff;
  color: #333;
}

.header-top-responsive .container{
  display: none;
}
.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left,
.header-center,
.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-center {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 3;
  margin: 0 5rem;
  position: relative;
}

.header-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-right i {
  color: #030166;
}

.header-center .header-search-icon {
  position: absolute;
  left: 1.5rem;
}

@media screen and (max-width:767px) {
  
  .header-top {
    display: none;
  }
  
  .header-top-responsive .container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
  }
  .header-top-responsive .container i{
    color:  rgba(136, 136, 136, 1);
    font-weight: 100;
    font-size: 2rem;
  }
  .header-top-responsive .container span i{
    font-size: 2rem;
  }
  .responsive-header-left{
    position:relative;
  }

  .header-top-responsive .search-box{
    display: none;
    position: absolute;
    top: 70px;
    width: 80%;
    right: 30px;
    margin-bottom: 2rem;
  }
  .open{
    display: block !important;
  }
  .header-top-responsive .search-box form input[type='text'].responsive-search-input{
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 5rem;
  padding-left: 5rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(210, 243, 245, 0.568);
  ;
}

  .header-top-responsive .search-box form button{
    position: absolute;
    top: 12px;
    right: 20px;
    border: none;
    background-color: #fff;
  }
}

/*search input*/
.header-center input[type='text'].header-search-input {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 5rem;
  padding-left: 5rem;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(210, 243, 245, 0.568);
  ;
}

/*header button*/



.nav-item .nav-link {
  color: var(--as-black);
  font-weight: 500;
}

/*main nav*/
.header-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  min-width: 15vw;
  height: auto;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--as-primary-color-7);
}

.header-nav .navbar-nav .nav-item.dropdown .dropdown-menu li a {
  display: inline-block;
  padding: 1.5rem 2rem;
  background-image: linear-gradient(100deg, transparent 0%, transparent 50%, var(--as-primary-color-6) 50%);
  background-size: 250%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;

}

.header-nav .navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
  background-position: 100%;
  color: var(--as-white);
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);

}

.header-nav .navbar-brand {
  display: none;
}

.header-nav .border {
  display: none;
}

@media screen and (max-width:991px) {
  .header-nav .navbar-brand {
    display: inline-block;
  }

  .header-nav .border {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    z-index: 0;
  }

}


/*hero-section*/
main {
  margin-top: 3rem;
}

.hero-section {
  background-image: linear-gradient(to bottom right, rgba(221, 244, 255), rgba(221, 244, 255, 0.911)), url('../images/bg-img/home-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  overflow: hidden !important;

}

.hero-title h1 {
  text-align: left;
  line-height: 7.2rem;
  font-weight: 600;
}

@media screen and (min-width:768px) and (max-width:991px) {
  .hero-title h1 {
    text-align: left;
    line-height: 7rem;
    font-weight: 600;
  }
}

@media screen and (max-width:765px) {
  .hero-title h1 {
    text-align: left;
    line-height: 6rem;
    font-weight: 600;
  }
}


.hero-sub-title {
  width: 95%;
  text-align: left;
}

.hero-img {
  overflow: hidden;
}

.hero-img img {
  -webkit-transition: all 3.5s ease-out 0s;
  -o-transition: all 3.5s ease-out 0s;
  -moz-transition: all 3.5s ease-out 0s;
  transition: all 3.5s ease-out 0s;

}

.hero-img img:hover {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.hero-section .hero-call-to-action a {
  display: inline-block;
}

@media screen and (max-width:399px) {
  .hero-section .hero-call-to-action a {
    display: inline-block;
    margin-bottom: 10px;
  }
}

/*vaccination section */
.vaccination-section {
  padding-top: 10rem;
  background-color: var(--as-white-4);
  padding-bottom: 3rem;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}



.vac-bg img.vac-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  -webkit-transition: all 3.5s ease-out 0s;
  -o-transition: all 3.5s ease-out 0s;
  -moz-transition: all 3.5s ease-out 0s;
  transition: all 3.5s ease-out 0s;

}

.vac-bg img:hover {
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}


.vaccination-section .custom-card {
  width: 95%;
  background-image: url(../images/bg-img/vac-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  padding: 6rem 3rem;
  border-radius: 1rem;
  -webkit-transition: all .4s ease-out 0s;
  -o-transition: all .4s ease-out 0s;
  -moz-transition: all .4s ease-out 0s;
  transition: all .4s ease-out 0s;
}

@media screen and (max-width:600px) {
  .vaccination-section .custom-card {
    width: 100%;
   
  }
}

.vaccination-section .custom-card:hover {
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  box-shadow: 0 4px 8px 0 rgba(3, 1, 102, .7), 0 6px 20px 0 rgba(3, 1, 102, .2);
}

.vaccination-section .custom-card h3 {
  width: 85%;
  margin-bottom: 2.5rem;
  color: rgba(3, 1, 102, 1);
  line-height: 4.8rem;
}

@media screen and (max-width:600px) {
  .vaccination-section .custom-card h3 {
    width: 100%;
  }
  
}

.vaccination-section .custom-card p {
  color: rgba(3, 1, 102, 1);
  line-height: 2.8rem;
  width: 80%;
  font-weight: 500;
  margin-bottom: 5rem;
}
@media screen and (max-width:600px) {
  .vaccination-section .custom-card p {
    width: 95%;
    
  }
}


/*packages section*/
.packages-section {
  text-align: center;
  padding: 10rem 0;
}


.tab-div-content {
  padding: 1.2rem 10rem;
  border-radius: 5rem;
  background-color: var(--as-white-4);
}

@media screen and (max-width:578px) {
  .tab-div-content {
    padding: 1rem 1rem;
  }

  .tab-div-content .nav-item:nth-child(1) {
    margin-right: 0 !important;
  }
}

@media (min-width:579px) and (max-width:768px) {
  .tab-div-content {
    padding: 2rem 1rem;
  }

  .tab-div-content .nav-item:nth-child(1) {
    margin-right: 0 !important;
  }

}

@media (min-width:759px) and (max-width:991px) {
  .tab-div-content .nav-item:nth-child(1) {
    margin-right: 0 !important;
  }
}

.nav-pills .nav-item button.nav-link.active {
  padding: 1rem 6rem;
  border-radius: 50px;
  background-color: var(--as-white);
  color: var(--as-black);
  font-size: inherit;
  backface-visibility: hidden;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
}

.nav-pills .nav-item button.nav-link {
  padding: 1rem 6rem;
  border-radius: 50px;
  background-color: #fcfcfc;
  display: inline-block;
  color: #c4c4c4;
  font-size: inherit;
  backface-visibility: hidden;
  cursor: pointer;
}

.package-content-1 {
  text-align: left;
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.package-content-1:hover {
  transform: translateY(1rem);
}
.packages-section .package-content-1:hover .card.shadow{
  box-shadow: none !important;
}

.package-content-1 .card {
  padding: 0 5rem 3rem;
  background-color: #ebf7fc;
  border: none;
  border-radius: 2rem;
  margin-bottom: 5rem;
}
.package-content-1 .card .d-flex a{
  border-bottom: #0098DB solid 2px;

}
.package-content-1 .card .d-flex .more:hover a{
  border-bottom:var(--as-secondary-color) solid 2px;
  color: var(--as-secondary-color);
  cursor: pointer;
}
.package-content-1 .card .d-flex .more:hover i{
  color: var(--as-secondary-color) !important;
  cursor: fade-in-up;
}

.package-components {
  margin-bottom: 3rem;

}

.package-components h5.package-price-text {

  font-weight: 400;
  color: var(--as-black-2);
}

.check-box .fa-check-circle {
  font-size: 2rem;
  color: var(--as-primary-color-6);

}

.card .services-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  border-radius: 2rem;
  width: 100%;
  height: 11rem;
  display: block;
}
.card .services-bg.img-1{
  background-image: url(../images/home-services/home-lab-test.png);
}
.card .services-bg.img-2{
  background-image: url(../images/home-services/book-lab.png);
}
.card .services-bg.img-3{
  background-image: url(../images/home-services/home-care-nurse.png);
}
.card .services-bg.img-4{
  background-image: url(../images/home-services/pharm-consult.png);

}
.card .services-bg.img-5{
  background-image: url(../images/home-services/doc-consult.png);
  
}
/*book section */
.book-section {
  background-image: linear-gradient(to right bottom, rgba(251, 251, 251, 0.445), rgba(219, 219, 215, 0.301)), url(../images/book-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.book-section .book-card {
  border-radius: 1rem;
  border: .5px solid #007FB633;
  padding: 2rem 3rem;
  position: relative;
  transition: .4s all;
}

.book-section .book-card-color-1 {
  background-color: #FFFAF2;
}

.book-section .book-card-color-2 {
  background-color: #F8FFF2;
}

.book-section .book-card-color-3 {
  background-color: #F8F5FF;
}

.book-card .book-time {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--as-heading-color);
}

.book-card .book-steps {
  padding-left: 3rem;
  width: 85%;
}

.book-section .book-card::before {
  content: '';
  top: 0;
  left: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: linear-gradient(to bottom, rgba(221, 244, 255, 0.459), #def1fa79);
  transition: .5s ease-out;
}

.book-section .book-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem);
}

.book-section .book-card:hover::before {
  height: 100%;
  width: 100%;
  visibility: visible;
  opacity: 1;
}

/*faq section*/
.faq {
  background-image: linear-gradient(to bottom right, rgba(254, 254, 253, 0.397), rgba(248, 248, 248, 0.247)), url(../images/faq-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  text-align: center;
  backface-visibility: hidden;
}

.faq .accordion {
  padding-left: 10%;
}

.accordion .accordion-item {
  background-color: transparent !important;
  overflow: hidden;
  border: none !important;

}

.accordion-body {
  text-align: left;
  padding-left: 0;
}

.accordion .accordion-item .accordion-button {
  text-align: left;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 0.5px solid #1EA6AD33;
  padding: 2.5rem 2.5rem 2.5rem 0;
  font-size: 2rem;
  font-weight: 400;
  color: var(--as-black-3);
}

@media screen and (max-width:600px) {
  .accordion .accordion-item .accordion-button {
    font-size: 1.5rem;
  }
}


/*explore*/
.explore {
  text-align: center;
  background-image: linear-gradient(to bottom right, #4cbbbfd3, rgba(76, 187, 191, 0.842)), url(../images/explore-bg.png);
}

.explore .explore-text {
  margin-bottom: 5rem;
  color: var(--as-white);
}


.explore .explore-text h4 {
  line-height: 3.8rem;
}

@media screen and (min-width:768px) and (max-width:992px) {
  .explore .explore-text.pwlr-20 {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}

@media screen and (min-width:579px) and (max-width:767px) {
  .explore .explore-text.pwlr-20 {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

@media screen and (max-width:578px) {

  .explore .explore-text.pwlr-20 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/*
Download Area Style
======================================================*/
.download {
  padding: 8rem 0 0;
  background-color: var(--as-heading-color);
}

.download .download-img {
  margin-top: 4rem;
  margin-left: 5rem;
}


.download-content {
  margin-top: 15rem;
}

.download-content .download-text h3 {
  text-align: left;
  font-weight: 600;
  line-height: 4.4rem;
  color: var(--as-white);
}



.download-content .custom-span-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.download-content .downonlod-btn {
  margin-top: 30px;
}

@media screen and (min-width:769px) and (max-width:1199px) {
  .download {
    padding: 0;
    background-color: var(--as-heading-color);
  }

  .download .download-img {
    margin-top: 17rem;
    margin-left: 0;
  }

  .download-content {
    margin-top: 15rem;
    padding-bottom: 2rem;
  }

  .download-content h4 {
    font-size: 2.5rem !important;
    margin-bottom: 2rem;
  }

}

@media screen and (min-width:579px) and (max-width:768px) {
  .download {
    padding: 8rem 0 8rem;
    background-color: var(--as-heading-color);
  }

  .download .download-img {
    margin-top: 4rem;
    margin-left: 0;
  }

  .download-content {
    margin-top: 5rem;
  }

}

@media screen and (max-width:578px) {
  .download {
    padding: 8rem 0 8rem;
    background-color: var(--as-heading-color);
  }

  .download .download-img {
    margin-top: 4rem;
    margin-left: 0;
  }

  .download-content {
    margin-top: 5rem;
  }

}

.download-content .downonlod-btn .store-btn {
  background-color: var(--as-white);
  color: var(--as-heading-color);
  display: inline-block;
  position: relative;
  padding: 10px 30px 0;
  padding-left: 70px;
  border-radius: 15px;
  margin-right: 30px;
}


.download-content .downonlod-btn .store-btn:last-child {
  margin-right: 0;
}



.download-content .downonlod-btn .store-btn img {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 30px;
}

.download-content .downonlod-btn .store-btn i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 30px;
}

.download-content .downonlod-btn .store-btn span {
  line-height: 1;
  font-size: 10px;
  display: block;
  font-family: gilroy-light;
}

.download-content .downonlod-btn .store-btn p {
  font-family: gilroy-bold;
}

.download-content .downonlod-btn .store-btn:hover {
  background-color: var(--as-white-2);
}

/* footer section*/

footer {
  padding: 10rem 0 5rem;
  background-color: var(--as-white);
  position: relative;

}

footer .footer-socials i {
  font-size: 20px;
}

footer .footer-socials-1 i {
  font-size: 20px;
  color: #444444;
}

footer .newsletter h6 {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--as-heading-color)
}

footer .newsletter .subscribe-email input {
  width: 60%;
  border-radius: 30px;
}

footer .footer-section-content a:hover p {
  color: var(--as-secondary-color);
  font-weight: bold;
  transform: translateX(5px);
  transition: ease-out .4s;
}

footer .footer-socials a:hover i {
  color: var(--as-secondary-color) !important;
  transform: scale(1.2, 1.2);
  transition: ease-out .4s;
}

footer .footer-section-content.footer-socials-1 .d-flex:hover i {
  color: var(--as-secondary-color) !important;
  transform: scale(1.2, 1.2);
  cursor: pointer;
  transition: ease-out .4s
}

footer .newsletter .subscribe-email input {
  width: 100%;
  border-radius: 30px;
}

footer .newsletter .subscribe-email button.sub-btn:link,
footer .newsletter .subscribe-email button.sub-btn:visited,
footer .newsletter .subscribe-email button.sub-btn {
  padding: 0 2rem;
  height: 5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: var(--as-primary-color);
  color: var(--as-white);
}

footer .newsletter .subscribe-email button.sub-btn:hover {
  background-color: var(--as-primary-color-4);
}

/*about us section*/
section.about-us {
  position: relative;
  padding: 20rem 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

}
@media screen and (min-width:769px) and (max-width:991px) {
  section.about-us {
    padding: 15rem 0;
  }

}
@media screen and (min-width:579px) and (max-width:768px) {
  section.about-us {
    padding: 10rem 0;
  }

}

@media screen and (max-width:578px) {
  section.about-us {
    padding: 5rem 0;
  }

}

section.about-us::before {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: .2;
  top: 0;
  left: 0;
  background: #000000;
  height: 100%;
  width: 100%;
}

section.about-us::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0.04;
  inset: 0;
  height: 100%;
  z-index: -1;
  background-image: url(../images/bg_lines.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 200%;
}

section.about-us.item-bg2 {
  background-image: url(../images/bg-img/about-bg.png);
}
section.about-us.item-bg3 {
  background-image: url(../images/bg-img/membership-bg.png);
}
section.about-us.item-bg4 {
  background-image: url(../images/bg-img/pharm-supply-bg.png);
}
section.about-us.item-bg5 {
  background-image: url(../images/bg-img/vaccination-bg.png);
}
section.about-us.item-bg6 {
  background-image: url(../images/bg-img/package-bg.png);
}
section.about-us.item-bg7 {
  background-image: url(../images/bg-img/contact-bg.png);
}
section.about-us.item-bg8 {
  background-image: url(../images/bg-img/home-lab-bg.png);
}
section.about-us.item-bg9 {
  background-image: url(../images/bg-img/home-care-nurse-bg.png);
}
section.about-us.item-bg10 {
  background-image: url(../images/bg-img/lab-visit-bg.png);
}
section.about-us.item-bg11 {
  background-image: url(../images/bg-img/pharm-consult-bg.png);
}




section.about-us.item-bg-2 {
  background-image: linear-gradient(to bottom right, rgba(179, 178, 247, 0.6), rgba(3, 1, 102, 0.322)), url(../images/bg-img/doc-consult-bg.png);
}
section.about-us.item-bg-3 {
  background-image: linear-gradient(to bottom right, rgba(3, 1, 102, 0.6), rgba(3, 1, 102, 0.322)), url(../images/bg-img/faq.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.about-us .about-content {
  text-align: center;
}

section.about-us-text {
  text-align: center;
}
@media screen and (max-width:568px) {
  section.about-us-text {
    text-align: left;
  }
}

section.about-us-text .about-text p {
  line-height: 2.8;
  font-weight: 400;
  font-size: 18px;
  color: var(--as-heading-color);
}

.about-us-text .about-text {
  padding-left: 10%;
  padding-right: 10%;
}

/*v-m-section*/
.v-m-section {
  padding: 10rem 0;
  background-color: var(--as-primary-color-5);
}

.v-m-section .v-m-img img {
  box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  border-radius: 5rem;
}

.v-m-section .vision {
  margin-bottom: 10rem;
  padding-right: 1rem;
}

.v-m-section .vision .vision-text {
  line-height: 3rem;
}

.v-m-section .mission {
  padding-right: 1rem;
}

.v-m-section .mission .mission-text {
  line-height: 3rem;
}


/*core-value*/
.core-value .card.card-body {
  border: solid 1px var(--as-primary-color-3);
  border-radius: 30px;
  position: relative;
  z-index: 1;
  transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.core-value .card.card-body .value-icon {
  width: 6.5rem;
  height: 6.5rem;
  text-align: center;
  background-color: #F2FBFF;
  color: var(--as-white);
  border-radius: 50%;
  transition: all .4s;
}



.core-value .card.card-body h5 {
  transition: all .4s;
}

.core-value .card.card-body p {
  transition: all .4s;
}

.core-value .card.card-body::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  z-index: -1;
  width: 0;
  height: 100%;
  background: linear-gradient(120deg, #35C6CB80 0%, #31d9dfde 50%, rgba(13, 156, 228, 0.76) 100%);
  border-radius: 30px;
  transition: 0.5s;
}

.core-value .card.card-body:hover {
  transform: translateY(-10px);
}

.core-value .card.card-body:hover::before {
  width: 100%;
}

.core-value .card.card-body:hover .value-icon {
  transform: rotate(360deg);
  color: var(--as-primary-color-4);
  background-color: #ffffff;
}

.core-value .card.card-body:hover h5 {
  color: #ffffff;
}

.core-value .card.card-body:hover p {
  color: #ffffff;
}


/********************************
  Design package section
  *******************************/
.all-packages .package-search {
  position: relative;
  margin-bottom: 8rem;
}
@media screen and (max-width:767px){
  .all-packages .package-search {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width:568px){
  .all-packages .package-search {
    margin-bottom: 3rem;
  }
}

.all-packages .package-search i {
  position: absolute;
  top: 1.7rem;
  left: 1.5%;
  font-size: 2rem;
  color: var(--as-black-2);
}

@media screen and (max-width:600px) {
  .all-packages .package-search i {
    position: absolute;
    top: 1.7rem;
    left: 5%;
    font-size: 2rem;
    color: var(--as-black-2);
  }
}


/*search input*/
.all-packages .package-search input[type='text'].package-search-input {
  position: relative;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 5rem;
  padding-left: 5rem;
  width: 100%;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(210, 243, 245, 0.568);
}

.all-packages .card.card-body {
  border-radius: 20px;
  border: none;
  transition: all .4s;
}

.all-packages .card.card-body:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(47, 48, 48, 0.568);
  transform: translateY(-2rem);
}

/*faq main */
.faq-main .accordion {
  padding-left: 10%;
  padding-right: 10%;
}

/**********************
    membership
***********************/
.membership-discount-img {
  overflow: hidden;
}

.membership-discount-img img {
  -webkit-transition: all 3.5s ease-out 0s;
  -o-transition: all 3.5s ease-out 0s;
  -moz-transition: all 3.5s ease-out 0s;
  transition: all 3.5s ease-out 0s;
}

.membership-discount-img img:hover {
  -webkit-transform: scaleX(.9);
  -ms-transform: scaleX(.9);
  transform: scaleX(.9);
}

/*membership-signup */
.sign-up .card.card-body {
  border-radius: 1.5rem;
  border: 2px solid var(--as-primary-color-3);
}

.sign-up .card.card-body .sign-up-form {
  text-align: left;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .search-component {
  position: relative;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .search-component i {
  position: absolute;
  top: 10px;
  left: 12px;
  color: #dddddd;
  font-size: 2rem;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .search-component input[type='text'] {
  width: 100%;
  padding: 1.5rem 0 1.5rem 3.5rem;
  border: .8px solid #DDDDDD;
  border-radius: 2rem;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .search-component input[type="text"]::-webkit-input-placeholder {
  color: #dddddd;
  font-size: 1.2rem;
  font-weight: 400;
}

.sign-up .card.card-body .sign-up-form .select-img input[type='file'] {
  width: 100%;
  padding: 0 0 0 0;
  border: .8px solid #DDDDDD;
  border-radius: 5px;
}

.sign-up .card.card-body .sign-up-form .select-img input[type='file'].form-control::file-selector-button {
  padding: 2rem 1rem 2rem .75rem;
  margin: 0 1rem 0 0;
  border: .8px solid #DDDDDD;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;
}

.sign-up .card.card-body .sign-up-form .select-img input[type='file'].form-control::-webkit-file-upload-button {
  padding: 2rem 1rem 2rem .75rem;
  margin: -.375rem 1rem -.75rem -.375rem;
  border: .8px solid #DDDDDD;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 400;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .as-search-btn:link,
.sign-up .card.card-body .sign-up-form .sign-up-bottom .as-search-btn:active,
.sign-up .card.card-body .sign-up-form .sign-up-bottom .as-search-btn {
  padding: .8rem 4rem;
  border-radius: 50px;
  background-color: #1F9AE8;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--as-white);
  font-weight: bold;
  display: inline-block;
  transition: all .4s;
  cursor: pointer;
}


.sign-up .card.card-body .sign-up-form .sign-up-bottom .sign-up-bottom-check-boxes input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .sign-up-bottom-check-boxes input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  border: .8px solid #555555;
  border-radius: 2px;
  background-color: white;
}

.sign-up .card.card-body .sign-up-form .sign-up-bottom .sign-up-bottom-check-boxes input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.sign-up .card.card-body .register-button .as-register-btn,
.sign-up .card.card-body .register-button .as-register-btn:link {
  padding: 1.5rem 7rem;
  border-radius: 50px;
  background-color: var(--as-primary-color-5);
  transition: all .5s;
  cursor: pointer;
}

.sign-up .card.card-body .register-button .as-register-btn:active {
  transform: translateY(-1px) !important;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2) !important;
  color: red !important;

}

.sign-up-bottom-check-boxes .check-box-anchor {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2.2rem;
  color: #1F9AE8;
  border-bottom: 1px solid #1F9AE8;
  padding-bottom: 3px;
}

.sign-up .card.card-body .register-button .as-register-btn:hover {
  background-color: var(--as-primary-color-4);
  color: var(--as-black-1) !important;
  transform: translateY(-2px);
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}



@media screen and (max-width:578px) {

  .sign-up .card.card-body.p-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

}

@media screen and (min-width:579px) and (max-width:768px) {
  .sign-up .pwlr-13 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .sign-up .card.card-body.p-5 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}


.sign-up .tab-content .doc-persona .card.card-body {
  background-color: #F4FCFF66;
  transition: all .4s;
}

.sign-up .tab-content .doc-persona .card.card-body img {
  -webkit-transition: all .5s ease-out 0s;
  -o-transition: all .5s ease-out 0s;
  -moz-transition: all .5s ease-out 0s;
  transition: all .5s ease-out 0s;
}

.sign-up .tab-content .doc-persona .card.card-body:hover img {
  -webkit-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
}

.sign-up .tab-content .doc-persona .card.card-body:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate(2px, 5px);
}

.sign-up .tab-content .doc-persona .doc-left-component {
  text-align: left;
  padding-left: 1rem;
}

.sign-up .tab-content .doc-persona .doc-left-component .cta-div a {
  color: #bce5f6;
  border-bottom: solid #bce5f6 1px;
}

.sign-up .tab-content .doc-persona .doc-left-component .doc-star {
  color: #facb4a;
}

.sign-up .tab-content .doc-persona .doc-left-component .doc-persona-btn,
.sign-up .tab-content .doc-persona .doc-left-component .doc-persona-btn:link {
  padding: 1rem 4rem;
  border-radius: 50px;
  background-color: var(--as-primary-color-4);
  transition: all .5s;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.sign-up .tab-content .doc-persona .doc-left-component .doc-persona-btn:hover {
  color: var(--as-primary-color-3);

}

.form-group .nice-select {
  width: 100%;
  border: 1px solid;
  border-color: var(--border-color-9);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: var(--ltn__paragraph-color);
  font-size: 1.4rem;
  font-weight: 400;
  height: 5.5rem;
  float: none;
}

.form-group .nice-select.wide span.current {
  display: block;
  padding-top: .5rem;
}

/*********************************
         PHARM SUPPLY 
**********************************/
.pharm-supply-streamline .pharm-supply-streamline-btn {
  
}

.pharm-supply-streamline-btn button {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
}

/*********************************
         Tab-list
**********************************/
.how-it-works .list-group .list-group-item {
  border: none;
  background-color: var(--as-white-4);
  border-radius: 1rem;
  position: relative;
  transition: all .3s;
}

.how-it-works .list-group .list-group-item::before {
  content: '';
  bottom: 0;
  left: 5px;
  width: 0;
  position: absolute;
  height: 2px;
  background-color: #0A9A73;
  transition: all 0.5s ease 0s;
  opacity: 0;
  visibility: hidden;
}

.how-it-works .list-group .list-group-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.how-it-works .list-group .list-group-item:hover::before {
  width: 98%;
  opacity: 1;
  visibility: visible;
}

.how-it-works .list-group .list-group-item .custom-rounded-shape {
  height: 7rem;
  width: 7rem;
  padding-top: 2rem;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: rgba(5, 85, 89, 0.486);
}

.how-it-works .list-group .list-group-item:hover .custom-rounded-shape {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.how-it-works .list-group .list-group-item.active .custom-rounded-shape {
  height: 7rem;
  width: 7rem;
  padding-top: 2rem;
  border-radius: 50%;
  background-color: var(--as-primary-color-8);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
  color: #055559;
}


.how-it-works .list-group .list-group-item.active h5 {
  color: var(--as-heading-color);
}

.how-it-works .list-group .list-group-item.active p {
  color: var(--as-black-2);
}

.how-it-works .list-group .list-group-item h5 {
  color: rgba(17, 17, 17, 0.329);
}

.how-it-works .list-group .list-group-item p {
  color: rgba(85, 85, 85, 0.267);
}

@media screen and (min-width:769px) {
  .how-it-works .mobile-view{
    display: none;
  }
}


@media screen and (max-width:768px) {
  .how-it-works .desktop-view{
    display: none;
  }

  .how-it-works .mobile-view{
    display: block;
  }
}


/*********************************
         VACCINATIONS PAGE
**********************************/
.vaccination-types {
  background-color: #F0FBFF;
}

.vaccination-types .card.card-body {
  border: none;
  border-radius: 2rem;
  -webkit-box-shadow: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  transition: ease-out .4s;
}

.vaccination-types .card.card-body:hover {
  transform: translateY(10px);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/***************************************
      PHARMACY CONSULTATION PAGE
***************************************/
.tab-pane#pharm-consult-2 .pharm-consult-tab .nav-item {}

.tab-pane#pharm-consult-2 .pharm-consult-tab .nav-item .nav-link.active {
  border: solid 1px var(--as-primary-color-4);
  border-radius: 5px;
  background-color: #DCF0F9;
  padding: 1rem 3rem;
}

.tab-pane#pharm-consult-2 .pharm-consult-tab .nav-item .nav-link {
  border: solid 1px #D0D5DD;
  border-radius: 5px;
  background-color: #F0F2F5;
  padding: 1rem 3rem;
}

.tab-pane#pharm-consult-2 .pharm-consult-tab .nav-item:not(:last-child) {
  margin-right: 1rem;
}





.js .slider-single > .list-group-item:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized >.list-group-item:nth-child(1n+2) { display: block }







.slider-nav .slick-slide { cursor: pointer; }

.slick-slide.is-active h3 {
	color: #c00;
	background-color: #fff
}